.container {
    margin: 3em auto;
    width: 600px;
}

.hidden {
    display: none;
}

.left {
    float: left;
}

.stack-image {
    background: url('https://theblueandwhite.files.wordpress.com/2012/01/pic1.jpg') no-repeat center center;
    width: 200px;
    height: 200px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-right: 1em;
    border-radius: 5px;
}

.intro {
    margin-bottom: 1em;
}

.stack {
    clear: both;
}